<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

        body {
            font-family: "Inter", serif;
        }
    </style>
</head>

<body class="bg-zinc-800 flex items-center justify-center min-h-screen">
    <!-- Button untuk membuka sidebar -->
    <span class="absolute text-white text-4xl top-5 left-4 cursor-pointer lg:hidden" onclick="openSidebar()">
        <i class="bi bi-filter-left px-2 bg-gray-900 rounded-md">=</i>
    </span>
    
    <!-- Sidebar -->
    <div class="sidebar fixed top-0 bottom-0 lg:left-0 p-2 w-[300px] overflow-y-auto text-center bg-zinc-700 lg:block hidden">
        <div class="text-gray-100 text-xl">
            <div class="p-2 mt-1 flex items-center">
                <img src="https://i.ibb.co.com/rKZMMngJ/Green-Mint-globalnet-technology-Logo-200-x-200-piksel.png" alt="logo" width="200" height="200" class="block mx-auto">
                <i class="bi bi-x cursor-pointer lg:hidden ml-28" onclick="openSidebar()"></i>
            </div>
            <div class="my-2 bg-gray-600 h-[1px]"></div>
        </div>
        <div class="p-2 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-amber-400 text-white">
            <i class="bi bi-house-door-fill"></i>
            <span class="text-[15px] ml-4 text-gray-200 font-medium">Home</span>
        </div>
        <a href="{{ url_for('settings') }}" class="p-2 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-amber-400 text-white">
            <span class="text-[15px] ml-4 text-gray-200 font-medium">
                Settings
            </span>
        </a>        
        <div class="my-4 bg-gray-600 h-[1px]"></div>
        <a href="{{ url_for('logout') }}" class="p-2 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-red-600 text-white">
            <i class="bi bi-box-arrow-in-right"></i>
            <span class="text-[15px] ml-4 text-gray-200 font-medium">
                Logout
            </span>
        </a>        
    </div>

    <script type="text/javascript">
        // Fungsi untuk membuka dan menutup sidebar
        function openSidebar() {
            document.querySelector(".sidebar").classList.toggle("hidden");
        }
        
        // Fungsi untuk menampilkan submenu dropdown
        function dropdown() {
            document.querySelector("#submenu").classList.toggle("hidden");
            document.querySelector("#arrow").classList.toggle("rotate-0");
        }
    </script>

    <div
        class="bg-zinc-700 p-6 sm:p-8 rounded-lg shadow-lg w-full max-w-md sm:max-w-96 md:max-w-[500px] lg:max-w-[600px]">
        <h2 class="text-2xl font-medium text-center text-amber-400 mb-4">Dashboard</h2>

        <p class="text-center text-white">Berhasil masuk ke MikroTik dengan IP:</p>
        <p class="text-center font-semibold text-lg text-white">{{ host }}</p>

        <h3 class="text-lg text-white font-semibold mt-6 text-center">Daftar IP Address</h3>
        <div class="overflow-x-auto">
            <table class="min-w-full border border-gray-300 mt-2">
                <thead>
                    <tr class="bg-gray-200">
                        <th class="border px-4 py-2">Interface</th>
                        <th class="border px-4 py-2">IP Address</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ip in ip_list %}
                    <tr class="bg-white">
                        <td class="border px-4 py-2">{{ ip.interface }}</td>
                        <td class="border px-4 py-2">{{ ip.address }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        </div>
    </div>
</body>

</html>
